Checks: >
  clang-analyzer-*,
  llvm-*,
  google-*,
  -google-build-namespaces*,
  -google-readability-braces-around-statements,
  -google-readability-todo,
  -llvm-namespace-comment,
  cppcoreguidelines-*,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  portability-*,
  concurrency-*
  bugprone-*,
  -bugprone-suspicious-stringview-data-usage,
  -bugprone-easily-swappable-parameters,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  readability-*,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -readability-braces-around-statements,
  -modernize-use-nodiscard,
  misc-*,
  -misc-non-private-member-variables-in-classes

WarningsAsErrors: ''
HeaderFilterRegex: '(?!.*build).*'
SystemHeaders: false